---
title: Welcome to The Mabrey's
mabreys:
  - arron
  - crissy
  - ezra
  - aria
---

/ div.content
/   h1 = current_page.data.title
/   - MabreyPresenter.each(current_page.data.mabreys) do |mabrey|
/     article
/       h2 = mabrey.full_name
/       img src=mabrey.gravatar
/       ul
/         li.twitter = link_to mabrey.twitter_handel, mabrey.twitter_profile
/         li.email = mail_to mabrey.email
